<!--The content below is only a placeholder and can be replaced.-->
<div class="header">
</div>
<div class="container-fluid">
  <div class="row">
    <div class="sidebar">
      <nav>
        <a routerLink="/Account">账户管理</a>
        <a routerLink="/Category">分类管理</a>
        <a routerLink="/Goods">商品管理</a>
        <a routerLink="/Active">活动管理</a>
        <a routerLink="/Order">订单管理</a>
        <a routerLink="/Role">角色管理</a>
        <a routerLink="/Permiss">权限管理</a>
        <a routerLink="/Statistics">报表管理</a>
      </nav>
    </div>
    <div class="main">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
