<!--The content below is only a placeholder and can be replaced.-->
  <div class="header">
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="sidebar">
          <nav>
              <a routerLink="/Active">active</a>
              <a routerLink="/Account">account</a>
              <a routerLink="/Category">category</a>
              <a routerLink="/Goods">goods</a>
              <a routerLink="/Active">active</a>
              <a routerLink="/Order">order</a>
              <a routerLink="/Role">role</a>
              <a routerLink="/Statistics">statistics</a>
              <a routerLink="/Permiss">permiss</a>
            </nav>
      </div>
      <div class="main">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>


