<div class="main-content permiss-page ">
  <div class="top">
    <form class="form-inline search">
      <div class="form-group">
        <input type="text" class="form-control" id="exampleInputName2" placeholder="请输入关键词" [(ngModel)]="keywords" name="keywords">
      </div>
      <button type="submit" class="btn btn-primary" (click)="search(keywords)">搜索</button>
      <button type="button" class="btn btn-primary" (click)="openModal(template)">添加</button>
    </form>
  </div>
  <div class="content">
    <div *exeUnless = 'true'>
        <h1 [exeBackground]="'gray'" *exeUnless = 'false'>Hello '{{name}}'</h1>
        <exe-child name="{{name}}"></exe-child>
        <my-viewEncapsulation-none></my-viewEncapsulation-none>
        <my-viewEncapsulation-emulated></my-viewEncapsulation-emulated>
        <my-viewEncapsulation-native></my-viewEncapsulation-native>
        <input-counter [count]="initialCount"></input-counter>
        <p>{{changeMsg}}</p>
        <output-counter [count]="initialCount" (change)="countChange($event)"></output-counter>

        <p>Two-Way Data Binding->父组件当前值：{{ initialCount }}</p>
        <output-counter [count]="initialCount"
         (change)="initialCount = $event"></output-counter>
        <p>[] 实现了模型到视图的数据绑定，() 实现了视图到模型的事件绑定。两个结合在一起 [()] 就实现了双向绑定。也被称为 banana in the box 语法</p>
        <output-counter [(count)]="initialCount"></output-counter>
        <p> Angular 2 中ngModel</p>
        <p>你输入的用户名是：{{ username }}</p>
        <input type="text"
           [(ngModel)]="username"
           #nameModel="ngModel"
           required/>
        {{nameModel.errors | json}}
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>序号</th>
          <th>账户名称</th>
          <th>姓名</th>
          <th>性别</th>
          <th>手机号</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody *ngIf="data">
        <tr *ngFor="let item of data.list;  index as i;">
          <td>{{i}}</td>
          <td>{{item.user_name}}</td>
          <td>{{item.user_name}}</td>
          <td>{{item.gender}}</td>
          <td>{{item.cell_phone}}</td>
          <td>
            <a (click)="edit(item.id)">编辑</a>
            <a (click)="delete(item.id)">删除</a>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination *ngIf="data" [totalItems]="data.count" [(ngModel)]="params.pageNo" (pageChanged)="pageChanged($event)" pageBtnClass="btn"
      [itemsPerPage]="params.pageSize" previousText="上一页" nextText="下一页" class="pull-left"></pagination>
  </div>
  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">添加帐号</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
      <form name="from" #ngForm="ngForm">
        <div class="form-group">
          <label for="name">账户名称：</label>
          <input type="text" class="form-control" id="name" placeholder="请输入名称" [(ngModel)]="adduser.name" name="name" required>
        </div>
        <div class="form-group">
          <label for="gender">性别：</label>
          <select class="form-control" name="gender"  id="gender" [(ngModel)]="adduser.gender"  required>
            <option value="male">男</option>
            <option value="female">女</option>
          </select>
        </div>
        <div class="form-group">
          <label for="cellphone">手机号：</label>
          <input type="text" class="form-control" id="cellphone" placeholder="请输入手机号" [(ngModel)]="adduser.cellphone" name="cellphone" required>
        </div>
        <div class="form-group">
          <label for="email">邮箱：</label>
          <input type="email" class="form-control" id="email" placeholder="请输入邮箱" [(ngModel)]="adduser.email" name="email">
        </div>
        <div class="form-group">
          <label for="joinDate">加入日期：</label>
          {{adduser.joinDate}}
          <input type="text" class="form-control" id="joinDate" placeholder="请输入日期"  bsDatepicker  [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" [(ngModel)]="adduser.joinDate" name="joinDate" required>
        </div>
        <div class="form-group">
          <label for="code">选择权限：</label>
          <ngx-select [items]="roleList && roleList.list"  [multiple]='true' [(ngModel)]="adduser.role" name="code" >
            <ng-template ngx-select-option-selected let-option let-text="text">
              {{option.data.role_name}}
            </ng-template>

            <ng-template ngx-select-option let-option let-text="text">
                {{option.data.role_name}}
            </ng-template>

            <ng-template ngx-select-option-not-found>
                Nothing found
            </ng-template>
          </ngx-select>
          <!-- <input type="email" class="form-control" id="code" placeholder="请输入CODE" [(ngModel)]="code" name="code"> -->
        </div>
        {{!ngForm.form.vaild}}
        <button [disabled]="!ngForm.form.valid" type="btn" class="btn btn-default" (click)="add()">Submit</button>
      </form>
    </div>
  </ng-template>
</div>
